{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" href="tok.css"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/static/tatoo.1.jpg" alt="" height="50px" width="60px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item"></li>
          <a class="nav-link" href="{% url 'menu' %}">Menu</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'off' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Offer
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">40% off order Above 500rs</a></li>
              <li><a class="dropdown-item" href="#">30% off order Above 400rs</a></li>
              <li>
                <hr class="dropdown-divider"> 20% off ordeer Above 300 rs
              </li>
              <li><a class="dropdown-item" href="#">10% off order Above 200rs</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'blog' %}" id="wolks">Blogs</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  <div class="carousel-item active">
    <img src="/static/yui.jpg" class="d-block w-100" alt="..." height="661px" width="1000px">
    <div class="carousel-caption d-none d-md-block" style="margin: 250px;">
      <h1>Contact</h1>
      <p>Some representative placeholder content for the first slide.</p>
    </div>
  </div>
  <!-- <div class="container">
    <div class="lex">
      <div class="row">
        <H1 style="padding-left: 20%;">ENJOY THE DAY WITH SPECIAL FOOD</H1>
      </div>
    </div>
  </div> -->
  <!-- <div class="container-fluid bg-black" >
    <div class="row">
      <div class="col-md-3 col-lg-4" >
        <h1>ABOUT </h1><br>
        <a href=""> About us Overview</a><br>
        <a href=""> franchising Info</a><br>
        <a href=""> Values in Action</a><br>
        <a href=""> Investors Relation</a><br>
        <a href=""> News and Notification</a><br>


      </div>
      <div class="col-md-3 col-lg-4">
        <h1>SERVICES</h1><br>
        <a href=""> Services Overview</a><br>
        <a href="">Deleivery Partner</a><br>
        <a href=""> Play places and parties</a><br>
        <a href=""> Food Hub Merchandise</a><br>
        <a href=""> Mobile Order & Pay</a><br>


      </div>
      <div class="col-md-3 col-lg-4">
        <h1>COMMUNITY</h1><br>
        <a href="">Community Overview </a><br>
        <a href="">Now Serving</a><br>
        <a href=""> Hacer@ Scholarship for hispansic student</a><br>
        <a href=""> Black and Positively golden</a><br> -->
  <!-- <a href=""> Food Hub Asian Pacific American</a><br>

  </div>
  <div class="col-md-3 col-lg-4">
    <h1>CONTACT US</h1><br>
    <a href="">Contact Us Overview</a><br>
    <a href="">Gift Card FAQS </a><br>
    <a href="">Donation </a><br>
    <a href="">Employment</a><br>
    <a href=""> Customer Feed Back</a><br>

  </div> -->
  
  <div class="container">
    <div class="row" style=" background-color:lightgoldenrodyellow;">
        <div class="col-md-3">
            <h1>ABOUT </h1><br>
            <a href=""> About us Overview</a><br>
            <a href=""> franchising Info</a><br>
            <a href=""> Values in Action</a><br>
            <a href=""> Investors Relation</a><br>
            <a href=""> News and Notification</a><br>


        </div>
        <div class="col-md-3">
            <h1>SERVICES</h1><br>
            <a href=""> Services Overview</a><br>
            <a href="">Deleivery Partner</a><br>
            <a href=""> Play places and parties</a><br>
            <a href=""> Food Hub Merchandise</a><br>
            <a href=""> Mobile Order & Pay</a><br>


        </div>
        <div class="col-md-3">
            <h1>COMMUNITY</h1><br>
            <a href="">Community Overview </a><br>
            <a href="">Now Serving</a><br>
            <a href=""> Hacer@ Scholarship for hispansic student</a><br>
            <a href=""> Black and Positively golden</a><br>
            <a href=""> Food Hub Asian Pacific American</a><br>

        </div>
        <div class="col-md-3">
            <h1>CONTACT US</h1><br>
            <a href="">Contact Us Overview</a><br>
            <a href="">Gift Card FAQS </a><br>
            <a href="">Donation </a><br>
            <a href="">Employment</a><br>
            <a href=""> Customer Feed Back</a><br>

        </div>
    </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>